In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from math import sqrt

In [6]:
batch1 = pd.read_csv('D:\ieee-mansb-victoris-2\IEEE_Victoris2_Filtration_train_data\Train_Batch_1.csv')
batch2 = pd.read_csv('D:\ieee-mansb-victoris-2\IEEE_Victoris2_Filtration_train_data\Train_Batch_2.csv')
batch3 = pd.read_csv('D:\ieee-mansb-victoris-2\IEEE_Victoris2_Filtration_train_data\Train_Batch_3.csv')

print("batch1", batch1.columns)
print("batch2", batch2.columns)
print("batch3", batch3.columns)

batch1 Index(['Unnamed: 0', 'Person Description', 'Place Code', 'Customer Order',
       'Additional Features in market', 'Promotion Name', 'Store Kind',
       'Store Sales', 'Store Cost', 'Product Weights Data in (KG)',
       'Is Recyclable?', 'Min. Yearly Income', 'Store Area', 'Grocery Area',
       'Frozen Area', 'Meat Area', 'Cost'],
      dtype='object')
batch2 Index(['Unnamed: 0', 'Person Description', 'Place Code', 'Customer Order',
       'Additional Features in market', 'Promotion Name', 'Store Kind',
       'Store Sales', 'Store Cost', 'Gross Weight', 'Net Weight',
       'Is Recyclable?', 'Min. Person Yearly Income', 'Store Area',
       'Grocery Area', 'Frozen Area', 'Meat Area', 'Cost'],
      dtype='object')
batch3 Index(['Unnamed: 0', 'Person%20Description', 'Place%20Code',
       'Customer%20Order', 'Additional%20Features%20in%20market',
       'Promotion%20Name', 'Store%20Kind', 'Store%20Sales', 'Store%20Cost',
       'Gross%20Weight', 'Net%20Weight', 'Weights%20Data', 'Is%20Recyclable?',
       'Yearly%20Income', 'Store%20Area', 'Grocery%20Area', 'Frozen%20Area',
       'Meat%20Area', 'Cost'],
      dtype='object')

In [7]:
def rename_columns(df):
    df.columns = df.columns.str.replace('%20', ' ')

In [11]:
merged_data = pd.concat([batch1, batch2, batch3], axis=0)

In [12]:
columns_batch1 = set(batch1.columns)
columns_batch2 = set(batch2.columns)
columns_batch3 = set(batch3.columns)

In [13]:
extra_columns_batch1 = columns_batch1.difference(merged_data.columns)
if extra_columns_batch1:
    print("Extra columns in Batch 1:", extra_columns_batch1)

# Check for extra columns in Batch 2
extra_columns_batch2 = columns_batch2.difference(merged_data.columns)
if extra_columns_batch2:
    print("Extra columns in Batch 2:", extra_columns_batch2)

# Check for extra columns in Batch 3
extra_columns_batch3 = columns_batch3.difference(merged_data.columns)
if extra_columns_batch3:
    print("Extra columns in Batch 3:", extra_columns_batch3)

In [14]:
merged_data.head()

,Unnamed: 0,Person Description,Place Code,Customer Order,Additional Features in market,Promotion Name,Store Kind,Store Sales,Store Cost,Product Weights Data in (KG),...,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight,Min. Person Yearly Income,Weights Data,Yearly Income
0,mc_ID_0,"Single Female with four children, education: b...",H11go_ZA,"Cleaning Supplies from Household department, O...","['Video Store', 'Florist', 'Ready Food', 'Coff...",Dimes Off,Deluxe,8.76 Millions,4.2924 Millions,"{'Gross Weight': 28.1997, 'Net Weight': 26.600...",...,2842.23,2037.64,481.98,323,602.7575,NaN,NaN,NaN,NaN,NaN
1,mc_ID_1,"Single Female with three children, education: ...",S04ne_WA,"Snack Foods from Snack Foods department, Order...",NaN,Budget Bargains,Supermarket,6.36 Millions,1.9716 Millions,"{'Gross Weight': 16.571, 'Net Weight': 14.972,...",...,2814.95,2049.72,457.36,NaN,708.6650,NaN,NaN,NaN,NaN,NaN
2,mc_ID_2,"Married Male with two children, education: hig...",L05es_CA,"Magazines from Periodicals department, Ordered...",['Florist'],Shelf Emptiers,Supermarket,10.86 Millions,4.4526 Millions,"{'Gross Weight': 28.6358, 'Net Weight': 27.182...",...,2192.32,1322.21,523.32,348.85,564.2647,NaN,NaN,NaN,NaN,NaN
3,mc_ID_3,"Single Female with three children, education: ...",S03le_WA,"Dairy from Dairy department, Ordered Brand : C...",['Coffee Bar'],Savings Galore,NaN,1.98 Millions,0.6732 Millions,"{'Gross Weight': 14.2161, 'Net Weight': 11.294...",...,1974.73,NaN,440.92,293.95,724.5119,NaN,NaN,NaN,NaN,NaN
4,mc_ID_4,"Married Female with five children, education: ...",M10da_YU,"Vegetables from Produce department, Ordered Br...","['Bar For Salad', 'Ready Food', 'Coffee Bar', ...",Sale Winners,Deluxe,11.56 Millions,4.9708 Millions,"{'Gross Weight': 12.6172, 'Net Weight': 9.71, ...",...,2862.3,1872.19,593.93,395.95,519.7574,NaN,NaN,NaN,NaN,NaN